main {
  margin: 0;
}
body {
  background-color: rgba(26, 23, 24, 0.514);
  margin-top: 9vh;
  background-repeat: no-repeat;
}
header {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  align-items: center;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.wholepage {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.cool-car-logo {
  width: 80px;
  height: fit-content;
  position: relative;
  animation-name: mymove;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-duration: 10s;
  animation-timing-function: ease;
}
@keyframes mymove {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
  100% {
    transform: scaleX(-1);
  }
}

.detailsheader {
  text-align: center;
}
.thecar {
  margin: 10px;
  border-radius: 10%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  max-height: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.usercomments {
  color: gold;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.thecar p {
  /* background-color: #000; */
  color: gold;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.fontbackground {
  background: #443f3f;
  margin: 5px;
  border-top-style: solid;
  border-color: gold;
  /* background-color: #000; */
}
.font .generalpage {
  display: flex;
  flex-direction: row;
}
.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 5px 15px 10px;
}
.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 10px 15px 5px;
}
.homeAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
  font-size: 20px;
}

.logoImage:hover {
  transform: scale(1.06);
}

.Nav:hover {
  transform: scale(1.1);
}

.homeAbout a {
  padding: 1vh 1vw;
  color: beige;
  font-weight: 600;
  text-decoration: none;
}

.car-show {
  margin: 0 1vw;
  color: beige;
}

.commentsedit {
  border-top-color: gold;
  border-style: solid;
  background-color: #443f3f;
  margin: 5px;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
}

header nav a {
  margin: 0 1em;
  color: beige;
  text-decoration: none;
}

.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(241, 175, 175);
  border-radius: 5px;
}

.logoTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
}
.about {
  color: gold;
}
.rafael-socials {
  color: gold;
}
.clifton-socials {
  color: gold;
}
.mike-socials {
  color: gold;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  width: 35vw;
  border-radius: 40%;
  padding-top: 5vh;
  padding-bottom: 8vh;
}
.team {
  display: flex;
  justify-content: space-evenly;
}
.team h5 {
  text-align: center;
}
section img {
  margin-top: 1.4vh;
  height: 7vh;
  width: 5vw;
  border-radius: 20%;
}

.welcomemessage {
  color: beige;
}

.Car-Card {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

.generalPage {
  display: grid;
  text-align: center;
}
.Title {
  position: center;

  text-align: center;
}
.Car-Card img {
  object-fit: cover;
  height: 40vh;
  width: 35vw;
  border-radius: 10%;
}
.Car-Card img:hover {
  box-shadow: 2px 2px 5px 5px black;
  transform: scale(1.1);
}

.make {
  position: relative;
  top: -20%;

  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 5px 15px 10px;
}
.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 10px 15px 5px;
}
.signinForm {
  margin-top: 25%;
  border-radius: 5%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  padding-left: 10px;
  padding-right: 23px;
}
.signin label {
  color: beige;
}
.inputfield {
  width: 500px;
  height: 100px;
}
.input-wrapper {
  margin-top: 1vh;
}
.signin input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.signin h3 {
  text-align: center;
  color: beige;
  padding-top: 2vh;
}
.signinButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.signin {
  display: flex;
  align-items: center;
}
.signinPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carForm {
  width: 55%;
  margin-top: 5%;
  border-radius: 5%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
  padding-left: 10px;
  padding-right: 23px;
  padding-top: 10px;
}
.carForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.thecarbig {
  justify-content: flex-end;
  text-align: right;
}
.carForm label {
  color: beige;
}
.dad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commenttitle {
  color: white;
  font-size: x-large;
}
.carshowbanner {
  padding-top: 80%;
  margin-top: 75px;
  transform: rotate(-90deg);
  font-size: 15em;
  height: fit-content;
  width: fit-content;
  display: flex;
  max-width: fit-content;
}

.carForm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(10, 56, 32);
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}

.yourCollectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.User-Car-Card {
  position: relative;
  text-align: center;
  margin: 10px;
  /* border-bottom-left-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  border-radius: 10%;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}
.User-Car-Card img {
  object-fit: cover;
  height: 50vh;
  width: 40vw;
  border-radius: 10%;
}
/* .User-Car-Card img:hover {
  display: absolute;
  box-shadow: 2px 2px 5px 5px black;
  height: 42vh;
  width: 40vw;
} */
.User-Car-Card p {
  position: relative;
  /* top: 75%; */
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.deleteCar-btn {
  display: inline-block;
  text-align: center;
  background-color: red;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.cancel-button {
  display: inline-block;
  text-align: center;
  background-color: red;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.deleteCar-btn:hover {
  filter: brightness(150%);
  transition: 0.6s;
  transform: scale(1.06);
}

.addCar-btn {
  display: inline-block;
  text-align: center;
  background-color: rgb(10, 56, 32);
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.addCar-btn:hover {
  filter: brightness(150%);
  transition: 0.6s;
  transform: scale(1.06);
}

.commentSection {
  font-size: 25px;
  color: white;
}

.commentDelete-btn {
  display: inline-block;
  text-align: center;
  background-color: red;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.updateComment-btn {
  display: inline-block;
  text-align: center;
  background-color: green;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.submit-button {
  display: inline-block;
  text-align: center;
  background-color: green;
  padding: 10px;
  width: 100px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin: 5px;
}

.comment-form-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.commentTxt {
  font-size: 35px;
  color: white;
}
