body {
  margin-top: 9vh;
}
header {
  background-color: #141265;
  align-items: center;
  height: 3.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.generalpage {
  display: flex;
  flex-direction: row;
}
.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 5px 15px 10px;
}
.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 10px 10px 15px 5px;
}
.homeAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
  font-size: 20px;
}

.logoImage:hover {
  transform: scale(1.06);
}

.Nav:hover {
  transform: scale(1.1);
}

.homeAbout a {
  padding: 1vh 1vw;
  color: beige;
  font-weight: 600;
  text-decoration: none;
}

.car-show {
  margin: 0 1vw;
  color: beige;
}

header nav a {
  margin: 0 1em;
  color: beige;
  text-decoration: none;
}

.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(241, 175, 175);
  border-radius: 5px;
}

.logoTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: 40vw;
  border-radius: 40%;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.team {
  display: flex;
  justify-content: space-evenly;
}
.team h5 {
  text-align: center;
}
section img {
  margin-top: 1.4vh;
  height: 7vh;
  width: 5vw;
  border-radius: 20%;
}

.welcomemessage {
  color: beige;
}
.Car-Card {
  position: relative;
  text-align: center;
}
.Car-Card img {
  object-fit: cover;
  height: 50vh;
  width: 35vw;
  border-radius: 10%;
}
.Car-Card img:hover {
  display: absolute;
  box-shadow: 2px 2px 5px 5px black;
  height: 42vh;
  width: 40vw;
}
.Car-Card p {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
<<<<<<< HEAD
=======

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}










.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button{
  display: block;
  width: 14rem;
  height: 3.5rem;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .4s;
}
Button span{
  position: relative;
  z-index: 2;
}
button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}
button:hover{
  color: #fff;
}
button:hover:after{
  width: 100%;
}
>>>>>>> 3255df11745cf2eee8592ae23c9df03ed77872b5
