body {
  margin-top: 9vh;
}
header {
  background-color: #141265;
  justify-content: flex-end;
  align-items: center;
  height: 3.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.homeAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
  font-size: 20px;
}

.logoImage:hover {
  transform: scale(1.06);
}

.logoImage:hover ~ .logoImage {
  transform: translateY(10px);
}

.homeNav:hover {
  transform: scale(1.1);
}

.homeNav:hover ~ .homeNav {
  transform: translateY(10px);
}

.aboutNav:hover {
  transform: scale(1.1);
}

.aboutNav:hover ~ .aboutNav {
  transform: translateY(10px);
}

.homeAbout a {
  padding: 1vh 1vw;
  color: beige;
  font-weight: 600;
  text-decoration: none;
}

.car-show {
  margin: 0 1vw;
  color: beige;
}

.homeAbout a {
  padding: 1vh 1vw;
  color: beige;
  font-weight: 600;
  text-decoration: none;
}

.homeAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
  font-size: 20px;
}

header nav a {
  margin: 0 1em;
  color: beige;
}

.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: 4vw;
  height: 5vh;
  border: 1px solid rgb(241, 175, 175);
  border-radius: 5px;
}

.logoTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 200vw;
  max-height: 20vh;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: 40vw;
  border-radius: 40%;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
.team {
  display: flex;
  justify-content: space-evenly;
}
.team h5 {
  text-align: center;
}
section img {
  margin-top: 1.4vh;
  height: 7vh;
  width: 5vw;
  border-radius: 20%;
}
